<%
var renderMarkdownText = text => t.renderMarkdown(text).replace(/<\/?p>/g, "");
%>

<footer class="closing">
  <div class="more-stories">
    <div class="constrained">

      <h3><%= renderMarkdownText(doc.footer.outboundTitle) %></h3>

      <ul class="outbound">
        <% doc.footer.outbound.forEach(function(link) { %>
          <li>
            <a href="<%= link.url %>">
              <img src="<%= link.thumbnail %>" alt="">
              <%= renderMarkdownText(link.title) %>
              <% if (link.program) { %>
                <span class="program"><%= renderMarkdownText(link.program) %></span>
              <% } %>
            </a>
          </li>
        <% }) %>
      </ul>

      <h3><%= renderMarkdownText(doc.footer.podcastTitle) %></h3>

      <ul class="network">
        <% doc.footer.podcasts.forEach(function(link) { %>
          <li>
            <a href="<%= link.url %>">
              <%= renderMarkdownText(link.title) %>
              <span class="station"><%= renderMarkdownText(link.station) %></span>
            </a>
          </li>
        <% }) %>
      </ul>

    </div>
  </div>

  <div class="about">
    <div class="constrained">

      <div class="side-by-side">

        <div class="block">

          <h4><%= doc.footer.digitalCreditHeadline %></h4>
          <ul class="credits main">
            <% doc.footer.digitalCredits.forEach(function(credit) { %>
            <li><%= credit %></li>
            <% }) %>
            <li><%= t.renderMarkdown(doc.footer.additionalCredits) %></li>
          </ul>

        </div>

      </div>

      <div class="hr-wrapper">
        <img class="hose" src="./assets/synced/illo/resized/hose.png" width="600" height="400" alt=””>
      </div>            

      <h4><%= doc.footer.dataCreditHeadline %></h4>
      <ul class="credits data">
        <% doc.footer.dataSources.forEach(function(credit) { %>
        <li><%= t.renderMarkdown(credit) %></li>
        <% }) %>
      </ul>

    </div>
  </div>

  <div class="npr">
    <div class="constrained">
      <ul>
        <li><a href="https://www.npr.org/about-npr/179876898/terms-of-use" target="_blank">Terms of Use</a></li>
        <li><a href="https://www.npr.org/about-npr/179878450/privacy-policy" target="_blank">Privacy</a></li>
        <li><a href="https://www.npr.org/about-npr/179878450/privacy-policy#yourchoices" target="_blank">Your Privacy Choices</a></li>
        <li><a href="https://text.npr.org/" target="_blank">Text Only</a></li>
        <li>&copy; 2024 NPR</li>
      </ul>
    </div>
  </div>
</footer>
