<div id="geo-container">
  <div class="geo-buttons disabled">
    <div class="locateMe button">
      <div class="locator-text active">Locate me!</div>
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="surpriseMe button">      
      <div class="surprise-text active">Surprise me!</div>
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
  </div>
  <div class="geo-dropdown-container">
    <div>Or enter your location</div>
    <div>HERE WILL BE A DROPDOWN</div>
  </div>
</div>
