<% 
var modifyText = function(s) {

  // if it is a modified slide, compile the text options into spans
  let defaultText = "";
  let customText = "";

  if (s.modText.default) {
    defaultText = `<div class="default">${s.modText.default.text}</div>
    `;
  } 

  if (s.modText.custom) {
    if (s.modText.custom.isSame) {
      customText = `
<div class="custom"> 
  <div class="isSame">
    ${s.modText.custom.isSame}
  </div>
  <div class="notSame">
    ${s.modText.custom.text}
  </div>
</div>
      `
    } else if(s.modText.custom.difference){
      customText = `
<div class="custom"> 
  <div class="isDiff">
    ${s.modText.custom.difference}
  </div>
  <div class="notDiff">
    ${s.modText.custom.text}
  </div>
</div>
      `
    } else {
      customText = `<div class='custom'>${s.modText.custom.text}</div>`;  
    }  
  }

  var text =`<div class='mod'>${defaultText}${customText}</div>`;
  
  s.text = text;
  return s;
}

if (slide.isMod && !slide.textSections) {
  slide = modifyText(slide)
}
%>

<% if (slide.textSections) {
  slide.textSections.forEach(function(d) { 
    if (d.isMod) {
      d = modifyText(d);
    }    
  %>
  <div class="text" id="<%= d.id %>">
    <div class="content">

      <%= t.renderMarkdown(d.text) %>
    </div>

    <% if (d.audio) { %>
      <%= t.include(`partials/_audio.html`, { "slide": d }) %>
    <% } %>

    <% if (d.caption) { %>
    <div class="caption">
      <span class="sr-only">Caption:</span> <%= d.caption %>
    </div>    
    <% } %>

    <% if (slide.legend) { %>
      <%= t.include(`legends/_${ slide.legend }.html`, { slide }) %>
    <% } %>
  </div>
<% }) } else if (slide.text) { %>
  <div class="text">
    <% if (slide.hasPot) { %>
    <div class="pot">
      <img alt="walking pot" src="./assets/walker.gif">            
    </div>
    <% } %>

    <div class="content">
      
      <%= t.renderMarkdown(slide.text) %>

        <%if (slide.scrollbug && slide.id == "zoomIn") { %>
    <div class="scroll-bug" aria-hidden="true">
      scroll
      <svg viewBox="0 0 50 50" width="50" height="25">
        <path
        d="M 0,0 L 25,25 50,0"
        ></path>
      </svg>
    </div>
  <%} %>
    </div>

    <% if (slide.audio) { %>
      <%= t.include(`partials/_audio.html`, { slide }) %>
    <% } %>

    <% if (slide.caption) { %>
    <div class="caption">
      <span class="sr-only">Caption:</span> <%= slide.caption %>
    </div>
    <% } %>

    <% if (slide.legend) { %>
      <%= t.include(`legends/_${slide.legend}.html`, { slide }) %>
    <% } %>

    <%if (slide.locate) { %>
      <%= t.include(`partials/_geoButtons.html`) %>
    <% } %>
    <%if (slide.id == "explore") { %>

      <div class=end-option-container>
        <div class='button' id='end-explore'>
          Explore the map
      </div>
      <div class='button' id='restart'>
        Start over with a new location
      </div>

      </div>

    <% } %>
  </div>
    <% if (slide.includeLegend) print(t.include(`ai2html/_${slide.includeLegend}.html`, { slide })) %>

  <% } else if (!slide.text && slide.type != "titlecard") { %>
    <div class="scroll-bug" aria-hidden="true">
      scroll
      <svg viewBox="0 0 50 50" width="50" height="25">
        <path
        d="M 0,0 L 25,25 50,0"
        ></path>
      </svg>
    </div>
  <%} %>



