@import "base-graphics";

#base-chart {
  z-index: 0;
  clear: right;
  position: fixed;
  overflow: hidden;
  object-fit: cover;
  width: 100vw;
  height: calc(100 * var(--vh));
  overflow: hidden;
  top: 0;
  left: 0;
  animation: none;
  opacity: 0;

  #dot-chart {
    background-color: #181818;  
  }
  

  &.active {
    animation: fade-in 0.2s linear;
    opacity: 1;
  }

  &.exiting {
    animation: fade-out 0.2s linear;
    opacity: 0;
  }
}

.average-text {
  border-bottom: 2px #fff dashed;
}

#base-chart {
  @keyframes dash {
    to {
      stroke-dashoffset: 0; 
    }
  }

  #dot-chart {

    text.text.zone {
      font-style: italic;      
      fill: #fff;
      text-anchor: end;
      font-size: 16px;
      stroke: rgb(0,0,0,0.8);
      stroke-width: 3px;
      stroke-linecap: round;
      stroke-linejoin: round;
      paint-order: stroke fill;
    }

    .new-old-zone-label {
      opacity: 0;
      fill: #fff;
      paint-order: stroke fill;
      stroke: rgb(100,100,100,0.8);
      stroke-width: 3px;
      stroke-linecap: round;
      stroke-linejoin: round;
      

      &.new {
        stroke: rgb(0,0,0,0.8);
        font-weight: 800;
      }
    }

    .label-line {
      opacity: 0;
    }

    .label-min {
      paint-order: stroke fill;
      stroke: #333;
      stroke-width: 3px;
      stroke-linecap: round;
      stroke-linejoin: round;
      font-style: italic;
      color: #fff;
      fill: #fff;
      opacity: 0;
    }

    .chart-title {
      .sans();
      font-weight: bold;
      fill: #fff;
      opacity: 0;
    }

    &[data-frame="return-1"], &[data-frame="return-2"], &[data-frame="return-3"] {
      .label-min.all, .label-line.all {
        display: none;
      }
    }

    .axis path {
      display: none;
    }

    .grid .tick, .axis line {
      stroke: #fff;
      color: #454545;
    }

    .y.grid .tick {
      &:first-child {
        display: none;
      }
    }
    
    .avg-line {
      stroke-width: 3px;
      stroke: #fff;
      stroke-dasharray: 10 5;
    }

    .dot.temperature {
      fill: #fff;
      fill-opacity: 0.3;
      stroke: #333;
      stroke-width:2px;
      animation: dash 1s linear forwards;
    }

    .bucket-outline {
      // fill: none;
      stroke: white;
      stroke-width: 5px;
    }

    .bucket-outline.previous {
      stroke: #dedede;
      stroke-width: 1.5px;
    }

    .bucket-outline, .bucket, .dot.temperature, .avg-line, text.text.zone, .label-min, .label-line, .new-old-zone-label {
      transition: all 1s ease;
      opacity: 0;  

      &.active {
        opacity: 1;
      }
    }

    .value text {
      font-size: 12px;
      font-weight: bold;
      transition: opacity 1s ease;
      opacity: 0;
    }

    .annotations text {
      font-size: 16px;
      transition: opacity 1s ease;
      font-style: italic;
      text-anchor: end;
      opacity: 0;
    }


    .graphic-wrapper {
      padding-bottom: 40%;
    }
        
    @media screen and @mobile {
      .value text {
        font-size: 11px;
      }
      .key.one-line {
        display: none;
      }
    }
    
    @media screen and @mobile-above {
      .key {
        display: none;
      }
      
    }
  }

  // toggle which chart elements are visible at each stage
  #dot-chart[data-frame="chart-1"] {
    .dot.temperature {
      animation: dash 1s linear forwards;
      opacity: 1;
      fill-opacity: 1; 
    }   
    .label-min.all, .label-line.all, .chart-title {
      opacity: 1;
    }
  }
  #dot-chart[data-frame="chart-1-1"] {
    .dot.temperature, .chart-title {  
      opacity: 1;
      fill-opacity: 1;
      animation: dash 1s linear forwards;
    }   
  }
  #dot-chart[data-frame="chart-2"] {
    .dot.temperature, .avg-line, .chart-title {  
      opacity: 1;
      fill-opacity: 1; 
      animation: dash 1s linear forwards;
    }       
  }
  #dot-chart[data-frame="chart-3"] {
    .dot.temperature, .avg-line,
    .bucket-outline.current, .bucket-outline.previous, .bucket,
    .text.text.zone, .chart-title, .new-old-zone-label {  
      opacity: 1;
    }   
    .bucket-outline, .bucket, .text.text.zone {
      animation: dash 1s linear forwards;
    }
  }
  #dot-chart[data-frame="return-1"] {    .avg-line,
    .bucket-outline.current, .bucket,
    .text.text.zone, .chart-title, .new-old-zone-label {  
      opacity: 1;
    }       
    .bucket-outline.previous {
      opacity: 1;
    }

    .dot.temperature {
      opacity: 0.4;
    }

  }
  #dot-chart[data-frame="return-2"] {
    .dot.temperature, .avg-line,
    .bucket-outline.current, .bucket,
    .text.text.zone, .chart-title,
    .bucket-outline.previous, .new-old-zone-label {
      opacity: 1;
    }    
    .dot.temperature {
      opacity: 0.2;      

      &.below {
        opacity: 1;
        fill-opacity: 1;
      }
    }
  }
  #dot-chart[data-frame="return-3"] {
    .label-min.st-louis, .label-line.st-louis {
      opacity: 1;
    }

    .dot.temperature, .avg-line,
    .bucket-outline.current, .bucket,
    .text.text.zone, .chart-title {  
      opacity: 1;
    }
    .dot.temperature {
      opacity: 0.2;      

      &.superLow.i-23 {
        opacity: 1;
        fill-opacity: 1;
      }
    }
  }
}