@import "base-graphics";

#base-chart {
  z-index: 0;
  clear: right;
  position: fixed;
  overflow: hidden;
  object-fit: cover;
  width: 100vw;
  height: calc(100 * var(--vh));
  overflow: hidden;
  top: 0;
  left: 0;
  animation: none;
  opacity: 0;

  &.active {
    animation: fade-in 0.2s linear;
    opacity: 1;
  }

  &.exiting {
    animation: fade-out 0.2s linear;
    opacity: 0;
  }
}


#base-chart {
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  #dot-chart {

    text.text.zone {
      font-style: italic;
      color: #fff;
      fill: #fff;
    }

    .axis path {
      display: none;
    }

    .grid .tick, .axis line {
      stroke: #fff;
      color: #fff;
    }

    .y.grid .tick {
      &:first-child {
        display: none;
      }
    }
    
    .avg-line {
      stroke-width: 3px;
      stroke: #fff;
      stroke-dasharray: 10 5;
    }

    .dot.temperature {
      fill: #fff;
      fill-opacity: 0.3;
      stroke: #333;
      stroke-width:2px;
      animation: dash 1s linear forwards;
    }

    .bucket-outline {
      // fill: none;
      stroke: white;
      stroke-width: 5px;
    }

    .bucket-outline.previous {
      stroke: #dedede;
      stroke-width: 3px;
    }

    .bucket-outline, .bucket, .dot.temperature, .avg-line, text.text.zone {
      transition: all 1s ease;
      opacity: 0;  

      &.active {
        opacity: 1;
      }
    }

    .value text {
      font-size: 12px;
      font-weight: bold;
      transition: opacity 1s ease;
      opacity: 0;
    }

    .annotations text {
      font-size: 16px;
      transition: opacity 1s ease;
      font-style: italic;
      text-anchor: end;
      opacity: 0;
    }


    .graphic-wrapper {
      padding-bottom: 40%;
    }
        
    @media screen and @mobile {
      .value text {
        font-size: 11px;
      }
      .key.one-line {
        display: none;
      }
    }
    
    @media screen and @mobile-above {
      .key {
        display: none;
      }
      
    }
  }

  // toggle which chart elements are visible at each stage
  #dot-chart[data-frame="chart-1"] {
    .dot.temperature {
      animation: dash 1s linear forwards;
      opacity: 1;
      fill-opacity: 1; 
    }   
  }
  #dot-chart[data-frame="chart-1-1"] {
    .dot.temperature {  
      opacity: 1;
      fill-opacity: 1;
      animation: dash 1s linear forwards;
    }   
  }
  #dot-chart[data-frame="chart-2"] {
    .dot.temperature, .avg-line {  
      opacity: 1;
      fill-opacity: 1; 
      animation: dash 1s linear forwards;
    }       
  }
  #dot-chart[data-frame="chart-3"] {
    .dot.temperature, .avg-line,
    .bucket-outline.current, .bucket,
    .text.text.zone {  
      opacity: 1;
    }   
    .bucket-outline, .bucket, .text.text.zone {
      animation: dash 1s linear forwards;
    }
  }
  #dot-chart[data-frame="return-1"] {
    .dot.temperature, .avg-line,
    .bucket-outline.current, .bucket-outline.previous, .bucket,
    .text.text.zone {  
      opacity: 1;
    }   
  }
  #dot-chart[data-frame="return-2"] {
    .dot.temperature, .avg-line,
    .bucket-outline.current, .bucket,
    .text.text.zone {  
      opacity: 1;
    }   
    .dot.temperature {
      opacity: 0.2;      

      &.below {
        opacity: 1;
        fill-opacity: 1;
      }
    }
  }
  #dot-chart[data-frame="return-3"] {
    .dot.temperature, .avg-line,
    .bucket-outline.current, .bucket,
    .text.text.zone {  
      opacity: 1;
    }
    .dot.temperature {
      opacity: 0.2;      

      &.superLow {
        opacity: 1;
        fill-opacity: 1;
      }
    }
  }
}