footer.closing {
  background: #111;
  min-height: 100vh;
  padding-bottom: 44px;

  h4 {
    color: #fff;
    font-size: 1rem;
    margin: 0 0 11px 0;

    @media @mobile {
      &:nth-child(n + 2) {
        margin-top: 40px;
      }
    }
  }

  a {
    color: #fff;
    font-weight: bold;
    transition: color 0.2s ease;
  }

  a[href], a[href]:visited {
    color: @z7a;
    text-decoration: none;
  }

  a[href]:hover,
  a[href]:active,
  a[href]:focus {
    // color: @z8a;
    color: #fff;

    img {
      filter: brightness(1.2);
    }
  }

  hr {
    margin: 33px auto;
    border-style: none;
    height: 1px;
    background-color: #999;
  }

  .hr-wrapper {
    img {
      max-width: 200px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  .constrained {
    max-width: 650px;
    margin: auto;
  }

  .more-stories {
    color: #eee;
    padding: 50px 20px;
    background: fade(@z9a, 15%);

    .constrained {
      max-width: 1000px;
    }

    h3 {
      .sans-header();
      color: @z8a;
      font-size: 1.3rem;
      margin: 0 0 20px 0;
      text-align: center;

      background: url('./assets/synced/illo/resized/shovel.png') no-repeat;
      background-position: 50% -20px;
      background-size: 140px;
      padding-top: 50px;
    }
  }

  .network,
  .outbound {
    .sans();
    list-style-type: none;
    padding: 0;

    a {
      font-weight: bold;

      .program,
      .station {
        color: #ccc;
        display: block;
        font-size: 90%;
        font-weight: normal;
        margin-top: 2px;
      }
    }
  }

  .network {
    columns: 2;

    @media screen and @tablet-above {
      columns: 4;
    }

    li {
      padding: 5px;
      margin: 0;
      break-inside: avoid;
    }
  }

  .outbound {
    margin: 0 0 11px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 22px;
    flex-wrap: wrap;

    @media screen and @tablet-above {
      flex-wrap: nowrap;
    }

    li {
      display: block;
      margin: 15px;
      width: calc(50% - 30px);
      max-width: 200px;

      @media screen and @tablet-above {
        width: calc(25% - 30px);
        max-width: 200px;
      }
    }

    img, svg {
      display: block;
      margin-bottom: 14px;
      background: fade(white, 20%);
    }
  }

  .social {
    border-top: 1px solid #fff;
    padding-top: 11px;

    h4 {
      font-size: 1rem;
      margin: 0 0 22px 0;
      text-align: center;
    }

    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      justify-content: center;
      font-size: .9rem;

      > li {
        margin: 0 6px;
        padding: 0;
      }
    }

    .social-link {
      border: 1px solid #fff;
      padding: 5px 10px;
      text-decoration: none;
      background: transparent;
      color: white;
      width: auto;
      display: inline-block;
      font-size: inherit;

      &:hover, &:active, &:focus {
        border-color: #fff;
        color: #fff;

        // img { opacity: 0.5; }
      }

      img, svg {
        width: .9rem;
        height: auto;
        vertical-align: text-top;
        margin-right: 3px;
      }
    }
  }

  .native-share {
    display: none;
    padding: 24px 0;
    text-align: center;
  }

  .navigator-share-supported & {
    .link-share { display: none; }
    .native-share { display: block; }
  }

  .about {
    padding: 44px 20px;
    color: #fff;

    h4 {
      .sans-header();
      color: @z7b;
      text-align: center;
    }

    .hr-wrapper {
      img {
        max-width: 250px;
        display: block;
      }
    }
  }

  .credits {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #ccc;

    &.main {
      columns: 1;

      @media screen and @tablet-above {
        columns: 2;
        column-gap: 33px;
      }
    }

    li {
      margin-bottom: 15px;
      break-inside: avoid;
    }
  }

  .npr {
    padding: 0 20px;

    a, a:visited {
      color: #fff;
      text-decoration: none;

      &:hover, &:focus {
        color: #fff;
      }
    }

    ul {
      border-top: 1px solid #666;
      font-size: 0.8rem;
      list-style-type: none;
      margin: 0;
      padding: 11px 0 0 0;

      li {
        display: block;
        margin: 0 22px 3px 0;
        padding: 0;
        text-indent: 0;
        white-space: nowrap;

        @media @mobile-above {
          display: inline-block;
        }
      }
    }
  }
}
