.legend {
  .sans();
  border-top: 1px solid #eee;
  padding-top: 1.5rem;
  margin-top: 1.5rem;

  h3 {
    .sans-header();
    font-size: 14px;
    margin: 0 0 6px 0;
  }

  p {
    margin: 0 0 9px 0;
    font-size: 14px;
    color: #999;
    font-style: italic;
  }
  h3 + p {
    margin-top: -3px;
  }

  details {
    margin-top: 15px;
    margin-bottom: -5px;
    display: block;

    summary {
      font-size: 14px;
      color: #999;
      margin-bottom: 3px;
      cursor: pointer;

      &:hover, &:active {
        color: #eee;
      }
    }
  }

  &.temp-diff {
    --num-bins: 17;
    --half-bins: calc(var(--num-bins) * 2);

    ul {
      display: flex;
      margin: 0;
      padding: 0;
      width: 100%;
      list-style-type: none;
    }
    li {
      height: 20px;
      width: calc(100% / var(--num-bins));
    }

		.custom--8	{ background: @tDiff-8; }
		.custom--7	{ background: @tDiff-7; }
		.custom--6	{ background: @tDiff-6; }
		.custom--5	{ background: @tDiff-5; }
		.custom--4	{ background: @tDiff-4; }
		.custom--3	{ background: @tDiff-3; }
		.custom--2	{ background: @tDiff-2; }
		.custom--1	{ background: @tDiff-1; }
		.custom-0	  { 
      background: @tDiff0; 
      // border-left: 2px solid #121212;
    }
		.custom-1	  { background: @tDiff1; }
		.custom-2	  { background: @tDiff2; }
		.custom-3	  { background: @tDiff3; }
		.custom-4	  { background: @tDiff4; }
		.custom-5	  { background: @tDiff5; }
		.custom-6	  { background: @tDiff6; }
		.custom-7	  { background: @tDiff7; }
		.custom-8	  { background: @tDiff8; }
  
    .bottom-labels {
      .sans();
      display: flex;
      justify-content: space-between;
      padding-top: 6px;
      // margin-left: calc(-100% / var(--half-bins));
      // margin-right: calc(-100% / var(--half-bins));
      
      p {
        margin: 0;
        font-style: normal;
        font-size: 12px;
        color: #eee;
        width: calc(100% / var(--num-bins));
        text-align: center;
      }
    }
  }
}