// colors
.z1a  {background-color: @z1a;  color:@darkText;}
.z1b  {background-color: @z1b;  color:@darkText;}
.z2a  {background-color: @z2a;  color:@darkText;}
.z2b  {background-color: @z2b;  color:@darkText;}
.z3a  {background-color: @z3a;  color:@darkText;}
.z3b  {background-color: @z3b;  color:@darkText;}
.z4a  {background-color: @z4a;  color:@darkText;}
.z4b  {background-color: @z4b;  color:@lightText;}
.z5a  {background-color: @z5a;  color:@lightText;}
.z5b  {background-color: @z5b;  color:@lightText;}
.z6a  {background-color: @z6a;  color:@lightText;}
.z6b  {background-color: @z6b;  color:@lightText;}
.z7a  {background-color: @z7a;  color:@darkText;}
.z7b  {background-color: @z7b;  color:@darkText;}
.z8a  {background-color: @z8a;  color:@darkText;}
.z8b  {background-color: @z8b;  color:@darkText;}
.z9a  {background-color: @z9a;  color:@lightText;}
.z9b  {background-color: @z9b;  color:@lightText;}
.z10a {background-color: @z10a; color:@lightText;}
.z10b {background-color: @z10b; color:@lightText;}
.z11a {background-color: @z11a; color:@lightText;}
.z11b {background-color: @z11b; color:@lightText;}
.z12a {background-color: @z12a; color:@lightText;}
.z12b {background-color: @z12b; color:@lightText;}
.z13a {background-color: @z13a; color:@lightText;}
.z13b {background-color: @z13b; color:@lightText;}

// Diverging temp colors
.tDiff-8 {background-color: @tDiff-8;}
.tDiff-7 {background-color: @tDiff-7;}
.tDiff-6 {background-color: @tDiff-6; color: #000; }
.tDiff-5 {background-color: @tDiff-5; color: #000; }
.tDiff-4 {background-color: @tDiff-4; color: #000; }
.tDiff-3 {background-color: @tDiff-3; color: #000; }
.tDiff-2 {background-color: @tDiff-2; color: #000; }
.tDiff-1 {background-color: @tDiff-1; color: #000; }
.tDiff0  {background-color: @tDiff0;  color: #000; }
.tDiff1  {background-color: @tDiff1;  color: #000; }
.tDiff2  {background-color: @tDiff2;  color: #000; }
.tDiff3  {background-color: @tDiff3;  color: #000; }
.tDiff4  {background-color: @tDiff4;  color: #000; }
.tDiff5  {background-color: @tDiff5;  color: #000; }
.tDiff6  {background-color: @tDiff6;  color: #000; }
.tDiff7  {background-color: @tDiff7; }
.tDiff8  {background-color: @tDiff8; }

.loading {  
  font-family: courier;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
  border-radius: 5px;
  background-color: #7b7b7b;
}

.zoneText, .warmer, .cooler {
  padding-left:5px;
  padding-right: 5px;
  white-space:nowrap;
  border-radius: 5px;
}

// .titlecard div.darken {
//   background: rgb(221,221,241);
//   background: linear-gradient(14deg,
//    fade(@z1a,0%) 0%,
//    fade(@z1b,0%) 9%,
//    fade(@z2a,7%) 13%,
//    fade(@z2b,15%)17%,
//    fade(@z3a,20%)21%,
//    fade(@z3b,25%)25%,
//    fade(@z4a,30%)29%,
//    fade(@z4b,35%)33%,
//    fade(@z5a,40%)37%,
//    fade(@z5b,45%)41%,
//    fade(@z6a,50%)45%,
//    fade(@z6b,55%)49%,
//    fade(@z7a,60%)53%,
//    fade(@z7b,65%)57%,
//    fade(@z8a,70%)61%,
//    fade(@z8b,75%)65%,
//    fade(@z9a,80%)69%,
//    fade(@z9b,85%)71%,
//    fade(@z10a,90%) 73%,
//    fade(@z10b,95%) 78%,
//    fade(@z11a,100%) 80%,
//    fade(@z11b,105%) 84%,
//    fade(@z12a,110%) 88%,
//    fade(@z12b,115%) 92%,
//    fade(@z13a,120%) 96%,
//    fade(@z13b,125%) 100%) !important;
// }

.mod {
  .placeText {
    text-decoration: underline;
  }

  .default {
    display: none;

    &.active {
      display: inline-block;
    }
  }

  .warmer, .cooler {
    border-radius: 5px;
  }
} 

.mod .isDiff, .mod .notDiff, .mod .isSame, .mod .notSame {
  display: none;

  &.show {
    display: contents;
  }
}



// hide errant empty para's, <p></p>
.mod + p:empty {
  display: none;
}

// Base map styles
#base-map {
  z-index: 0;
  clear: right;
  position: fixed;
  overflow: hidden;
  object-fit: cover;
  width: 100vw;
  height: calc(100 * var(--vh));
  overflow: hidden;
  top: 0;
  left: 0;
  animation: none;
  opacity: 0;
  // opacity: 1;

  &.active {
    animation: fade-in 0.2s linear;
    opacity: 1;
  }

  &.exiting {
    animation: fade-out 0.2s linear;
    opacity: 0;
  }

  &.explore-mode {
    z-index: 1000 !important;
  }
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#sticky-nav {
  .sans();
  z-index: 1020;
  position: fixed;
  top: 0;
  margin: 5px;
  cursor: pointer;
  user-select: none;
  pointer-events: all;
  transition: all 1s ease;

  &.disabled {
    opacity: 0;
    pointer-events: none;
    top: -20px;
  }

  #layer-button-nav {
    padding-top: 20px;
    left: -200px;
    position: fixed;
    top: 20px;
    transition: all 0.9s ease-in-out;
    display: block;
    pointer-events: none;
    

    &.disabled {
      display: none;
    }

    &.active {
      left: -33px;  
    }
  }

  .inner-nav {
    display: inline-block;
    float: left;
    background: white;
    color: #333;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
    // pointer-events: none;

    @media @mobile { 
      padding: 8px;
    }

    &.disabled {
      opacity: 0;
      pointer-events: none;
      top: -20px;
    }

    &:hover {
      background-color: #ddd;  
    }

    &.whereTo div {
      display: none;

      &.active {
        display: inline-block;
      }
    }

    &.layer {
      border-radius: 20px;
      clear: both;
      margin-top: 10px;
      padding-left:35px;
      padding-right:10px;
      position: relative;
      transition: all 0.3s ease-in-out;
      pointer-events: all;

      &:hover {
        padding-left: 45px;
      }

      &.active {
        background-color: rgb(0 0 0 / 20%);
        color: white;
      }

      &.active:hover {
        padding-left: 35px;
      }

      &.active:before {
        content: "";
        background: linear-gradient(
          45deg,
          @z1a,
          @z1b,
          @z2a,
          @z2b,
          @z3a,
          @z3b,
          @z4a,
          @z4b,
          @z5a,
          @z5b,
          @z6a,
          @z6b,
          @z7a,
          @z7b,
          @z8a,
          @z8b,
          @z9a,
          @z9b,
          @z10a,
          @z10b,
          @z11a
          );
        position: absolute;
        top: -4px;
        left: -4px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        animation: glowing-button-85 150s linear infinite;
        transition: opacity 0.3s ease-in-out;
        border-radius: 20px;
      }
    }

    &.legend {
      padding-right: 0px;
      clear: both;
      margin-left:-8px;
      border-radius: 0px;
      background-color: transparent;
      padding-top:0px;
      margin-top:3px;
      border: none;
      cursor: default;
      pointer-events: none;

      @media @mobile-above { 
        padding-top: 10px;
        margin-top: 10px;
      }


      &:hover { 
        padding-left: 35px;
      }

      .zone {
        margin-left: 5px;
        padding-left: 10px;
        padding-right:6px;
        border: 0.5px solid rgba(255,255,255,0.5);
        font-size: 12px;
        line-height:18px;
        position: relative;   

        .zone-after {
          position: absolute;        
          top: 1px;
          left: 40px;
          color: #333;
          padding-left:5px;
          pointer-events: none;
          font-size:14px;
          width: 1000px;
          filter: none;

          span.triangle {
            width: 0;
            height: 0;
            border-top: 9px solid transparent;
            border-bottom: 11px solid transparent;
            border-right: 16px solid #fff;
            display: inline-block;
          }          

          span.detail {
            background-color: #fff;
            width: max-content;
            padding-left: 5px;
            padding-right: 10px;
            padding-bottom: 1px;
            padding-top: 1px;
            top: 0px;
            position: absolute;
            border-radius: 0 5px 5px 0px;
            font-weight: normal !important;
          }

          &.warmest, &.coldest {
            span {
              font-style: italic;

              // font-size: 14px;
            }
            
          }
        }

        &:first-child {
          border-radius: 0 5px 0px 0;
        }

        &:last-child {
          border-radius: 0 0 5px 0;
        }
      }
    }
  }

  svg {
    width: auto;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -3px;
  }
}


#geo-container .button,
.end-option-container .button {
  .sans();
  display: inline-block;
  pointer-events: all;
  cursor: pointer;
  background-color: pink;
  color: #000;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  width: calc(50% - 5px);
  margin: 0 auto;
  margin-top:10px;
  margin-bottom: 10px;
  line-height: normal;
  user-select: none;

  &.surpriseMe {
    background-color: lightseagreen;
  }
}

.end-option-container {
  display: flex;

  .button {
    text-align: center;
    display: flex;
    align-items: center; /* Vertically align text */
    margin: 10px; /* Optional: Add margin between inner divs */
    justify-content: center;
    background-color: lightseagreen;
  
    &:hover {
      opacity: 0.5;
    }
  }
}

.geo-buttons {
  .surpriseMe:hover {
    opacity: 0.5;
  }

  &.disabled {
    &:hover {
      opacity: 1;
    }

    .button {
      opacity: 0.5;
      pointer-events: none !important;
      cursor: default;
    }
  }
}

#sticky-legend {
  position: fixed;
  // top: 0;
}

#sticky-legend > div {
  &.active {
    border: 1px solid #fff;
    box-shadow: 4px 0px 7px 0px #fff;
    z-index: 100000;

    .zone-inner {
      font-weight: bold !important;  

    }
  }
}


// Spinner https://loading.io/css/
.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  // display: inline-block;
  position: relative;
  width: 36px;
  height: 17px;
}
.lds-ellipsis div {
  position: absolute;
  top: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 4px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 4px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 16px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 28px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(12px, 0);
  }
}

.surprise-text, .lds-ellipsis {
  display: none;

  &.active {
    display: inline-block;
  }
}


// geolocation + lookup slide
#intro-1 {  
  .text .content {
    text-align: center;
    .sans();
  }
}

#geo-container { 
  .sans();
  margin-top: -.75rem;
  text-align: center;

  .search-wrapper {
    width: 100%;
    align-content: center;
    text-align: center;

    .search-header {
      margin: 0 0 .5rem 0;
      padding-top: 0;
      line-height: 1.2;
    }

    .search {
      max-width: 300px;
      display: block;
      margin: 10px auto 10px auto;
    }

    .search {
      .sans();
    }

    autocomplete-input {
      color: #333;
      font-size: 1rem;
  
      input {
        height: 50px;
      }
    }
  
    .no-data-msg {
      .sans();
      text-align: center;
      padding: 20px 5px 0px 5px;

      &.is-hidden {
        display: none;
      }
    }
  }
}

.maplibregl-ctrl-top-right {
  right: 10px;
  opacity: 0;
  pointer-events: none;
  transition: all 1s ease;
}

.explore-mode .maplibregl-ctrl-top-right {
  opacity: 1;
  pointer-events: all;
}