// colors
@lightText: #fff;
@darkText: #333;

@warmer: #C73800;
@cooler: #3F4E6F;

@z1a:  #D6D6FD;
@z1b:  #c4c4f0;
@z2a:  #DCBAF4;
@z2b:  #DFACF0;
@z3a:  #E29EEC;
@z3b:  #E691E8;
@z4a:  #9C82E8;
@z4b:  #5274E8;
@z5a:  #4B87B8;
@z5b:  #459A89;
@z6a:  #3FAD5A;
@z6b:  #69B764;
@z7a:  #93C16F;
@z7b:  #BDCB79;
@z8a:  #E7D684;
@z8b:  #E4C471;
@z9a:  #E2B35E;
@z9b:  #E0A24B;
@z10a: #D38643;
@z10b: #C66A3B;
@z11a: #B94E33;
@z11b: #AD332C;
@z12a: #972A22;
@z12b: #822218;
@z13a: #6D1A0E;
@z13b: #581205;

.z1a  {background-color: @z1a;  color:@darkText;}
.z1b  {background-color: @z1b;  color:@darkText;}
.z2a  {background-color: @z2a;  color:@darkText;}
.z2b  {background-color: @z2b;  color:@darkText;}
.z3a  {background-color: @z3a;  color:@darkText;}
.z3b  {background-color: @z3b;  color:@darkText;}
.z4a  {background-color: @z4a;  color:@darkText;}
.z4b  {background-color: @z4b;  color:@lightText;}
.z5a  {background-color: @z5a;  color:@lightText;}
.z5b  {background-color: @z5b;  color:@lightText;}
.z6a  {background-color: @z6a;  color:@lightText;}
.z6b  {background-color: @z6b;  color:@lightText;}
.z7a  {background-color: @z7a;  color:@darkText;}
.z7b  {background-color: @z7b;  color:@darkText;}
.z8a  {background-color: @z8a;  color:@darkText;}
.z8b  {background-color: @z8b;  color:@darkText;}
.z9a  {background-color: @z9a;  color:@lightText;}
.z9b  {background-color: @z9b;  color:@lightText;}
.z10a {background-color: @z10a; color:@lightText;}
.z10b {background-color: @z10b; color:@lightText;}
.z11a {background-color: @z11a; color:@lightText;}
.z11b {background-color: @z11b; color:@lightText;}
.z12a {background-color: @z12a; color:@lightText;}
.z12b {background-color: @z12b; color:@lightText;}
.z13a {background-color: @z13a; color:@lightText;}
.z13b {background-color: @z13b; color:@lightText;}

// Diverging temp colors

@tDiff-8: #3F4E6F;
@tDiff-7: #576481;
@tDiff-6: #6F7A93;
@tDiff-5: #8790A5;
@tDiff-4: #9FA6B7;
@tDiff-3: #B7BCC9;
@tDiff-2: #CFD2DB;
@tDiff-1: #E7E8ED;
@tDiff0:  #FFFFFF;
@tDiff1:  #F8E6DF;
@tDiff2:  #F1CDBF;
@tDiff3:  #EAB49F;
@tDiff4:  #E39B7F;
@tDiff5:  #DC825F;
@tDiff6:  #D5693F;
@tDiff7:  #CE501F;
@tDiff8:  #C73800;

.tDiff-8 {background-color: @tDiff-8;}
.tDiff-7 {background-color: @tDiff-7;}
.tDiff-6 {background-color: @tDiff-6; color: #000; }
.tDiff-5 {background-color: @tDiff-5; color: #000; }
.tDiff-4 {background-color: @tDiff-4; color: #000; }
.tDiff-3 {background-color: @tDiff-3; color: #000; }
.tDiff-2 {background-color: @tDiff-2; color: #000; }
.tDiff-1 {background-color: @tDiff-1; color: #000; }
.tDiff0  {background-color: @tDiff0;  color: #000; }
.tDiff1  {background-color: @tDiff1;  color: #000; }
.tDiff2  {background-color: @tDiff2;  color: #000; }
.tDiff3  {background-color: @tDiff3;  color: #000; }
.tDiff4  {background-color: @tDiff4;  color: #000; }
.tDiff5  {background-color: @tDiff5;  color: #000; }
.tDiff6  {background-color: @tDiff6;  color: #000; }
.tDiff7  {background-color: @tDiff7; }
.tDiff8  {background-color: @tDiff8; }

.zoneText, .warmer, .cooler {
  padding-left:5px;
  padding-right: 5px;
  white-space:nowrap;
}

// .titlecard div.darken {
//   background: rgb(221,221,241);
//   background: linear-gradient(14deg,
//    fade(@z1a,0%) 0%,
//    fade(@z1b,0%) 9%,
//    fade(@z2a,7%) 13%,
//    fade(@z2b,15%)17%,
//    fade(@z3a,20%)21%,
//    fade(@z3b,25%)25%,
//    fade(@z4a,30%)29%,
//    fade(@z4b,35%)33%,
//    fade(@z5a,40%)37%,
//    fade(@z5b,45%)41%,
//    fade(@z6a,50%)45%,
//    fade(@z6b,55%)49%,
//    fade(@z7a,60%)53%,
//    fade(@z7b,65%)57%,
//    fade(@z8a,70%)61%,
//    fade(@z8b,75%)65%,
//    fade(@z9a,80%)69%,
//    fade(@z9b,85%)71%,
//    fade(@z10a,90%) 73%,
//    fade(@z10b,95%) 78%,
//    fade(@z11a,100%) 80%,
//    fade(@z11b,105%) 84%,
//    fade(@z12a,110%) 88%,
//    fade(@z12b,115%) 92%,
//    fade(@z13a,120%) 96%,
//    fade(@z13b,125%) 100%) !important;
// }

.mod {


  .placeText {
    text-decoration: underline;
  }

  .default {
    display: none;

    &.active {
      display: inline-block;
    }
  }

  .warmer, .cooler {
    border-radius: 5px;
  }
} 

.mod .isDiff, .mod .notDiff, .mod .isSame, .mod .notSame {
  display: none;

  &.show {
    display: contents;
  }
}



// hide errant empty para's, <p></p>
.mod + p:empty {
  display: none;
}

// Base map styles
#base-map {
  z-index: 0;
  clear: right;
  position: fixed;
  overflow: hidden;
  object-fit: cover;
  width: 100vw;
  height: calc(100 * var(--vh));
  overflow: hidden;
  top: 0;
  left: 0;
  animation: none;
  opacity: 0;
  // opacity: 1;

  &.active {
    animation: fade-in 0.2s linear;
    opacity: 1;
  }

  &.exiting {
    animation: fade-out 0.2s linear;
    opacity: 0;
  }

  &.explore-mode {
    z-index: 100 !important;
  }
}

#info {
  z-index: -2;
  position: fixed;
  background-color: white;
  color: #333;  
  padding:10px;
  right: 0;
  bottom: -300px;
  width: 100%;
  transition: all 1s ease;
  opacity: 0;

  &.explore-mode {
    z-index: 101;
    bottom: 0px;
    opacity: 1;
  }
}

#sticky-nav {
  .sans();
  z-index: 102;
  position: fixed;
  top: 0;
  margin: 5px;
  cursor: pointer;
  user-select: none;
  pointer-events: all;
  transition: all 1s ease;

  &.disabled {
    opacity: 0;
    pointer-events: none;
    top: -20px;
  }

  .inner-nav {
    display: inline-block;
    float: left;

    background: white;
    color: #333;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;

    &.whereTo:hover {
    background-color: #eee;  
    }

    &.whereTo div {
      display: none;

      &.active {
        display: inline-block;
      }
    }
}
}

#geo-container {
  text-align: center;
}
#geo-container .button, #info .button, .end-option-container .button {
  .sans();
  display: inline-block;
  pointer-events: all;
  cursor: pointer;
  background-color: pink;
  color: #000;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  width: calc(50% - 5px);
  margin: 0 auto;
  margin-top:10px;
  margin-bottom: 10px;
  user-select: none;

  &.locateMe {
    background-color: lightgreen;
  }
  &.surpriseMe {
    background-color: lightseagreen;
  }
  &.rotateLocation {
    background-color: lightgoldenrodyellow;
    color:#333;
  }
}

.end-option-container {
  display: flex;
}

.end-option-container .button {
  text-align: center;
  display: flex;
  align-items: center; /* Vertically align text */
  margin: 10px; /* Optional: Add margin between inner divs */
  justify-content: center;
  background-color: lightseagreen;

  &:hover {
    opacity: 0.5;
  }
}

.geo-buttons {
  &:hover {
    opacity: 0.5;
  }

  &.disabled {
    .button {
      opacity: 0.5;
      pointer-events: none !important;
      cursor: default;
    }
  }
}

// Spinner https://loading.io/css/
.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  // display: inline-block;
  position: relative;
  width: 36px;
  height: 17px;
}
.lds-ellipsis div {
  position: absolute;
  top: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 4px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 4px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 16px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 28px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(12px, 0);
  }
}

.locator-text, .surprise-text, .lds-ellipsis {
  display: none;

  &.active {
    display: inline-block;
  }
}


// geolocation + lookup slide
#intro-1 {  
  .text .content {
    text-align: center;
    .sans();
  }
}

#geo-container { 
  .sans();
  margin-top: -.75rem;

  .search-wrapper {
    width: 100%;
    align-content: center;
    text-align: center;

    .search-header {
      margin: 0 0 .5rem 0;
      padding-top: 0;
      line-height: 1.2;
    }

    .search {
      max-width: 300px;
      display: block;
      margin: 10px auto 10px auto;
    }

    .search {
      .sans();
    }

    autocomplete-input {
      color: #333;
      font-size: 1rem;
  
      input {
        height: 50px;
      }
    }
  
    .no-data-msg {
      .sans();
      text-align: center;
      padding: 20px 5px 0px 5px;

      &.is-hidden {
        display: none;
      }
    }
  }
}