@import "base";

body {
  background: #111;
  color: @off-white;
}

.scroll-bug {
  .sans-header();
  text-align: center;
  color: #ccc;
  font-size: .85rem;
  padding: 1rem 0;
  text-shadow: 0 2px fade(black, 20%);

  // @media @mobile-above {
  //   display: block;
  // }

  @keyframes drop {
    from { transform: translateY(0); }
    to { transform: translateY(50%); }
  }

  svg {
    display: block;
    margin: 10px auto;
    animation: drop 2s ease-in-out infinite;

    path {
      stroke: #ccc;
      stroke-width: 6;
      fill: none;
    }
  }
}

hr {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 45%;
  background-size: 200px;
  height: 50px;
  margin: 40px 0;

  &.shovel {
    background-image: url('./assets/synced/illo/resized/shovel.png');
  }
}

@import "slides";
@import "titlecard";
@import "footer";
@import "ai2html";