.slide.text {
  background: #111;
  color: #ccc;
  padding: 20vh 0 60vh;

  .text {
    background: inherit;
    color: inherit;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    float: none;
    box-shadow: none;
    line-height: 1.7;
    font-size: 18px;
    max-width: unset;

    // .divider {
    //   width: 50%;
    //   border-top: 2px solid @gray-medium;
    // }

    @media @mobile {
      font-size: 16px;
    }

    .section-opener&::before {
      display: block;
      border-top: 1px solid white;
      content: "";
      margin: 32px auto;
      width: 50%;
      max-width: 200px;
    }

    .content {
      > div,
      hr,
      h3,
      h4,
      p {
        max-width: @contentWidth;
        margin-left: auto;
        margin-right: auto;
  
        &.full-width {
          max-width: 1024px;
        }

        &.hr-wrapper {
          max-width: 200px;
          margin-top: 90px;
          margin-bottom: 75px;
        }
      }  
    }

    hr {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }

    h3 {
      .serif();
      // font-weight: bold;
      margin-top: 4rem;
      color: @primaryColor;
      font-size: 1.8rem;
      line-height: 1.4;
    }

    h4 {
      .sans();
      // font-weight: bold;
      margin-top: 3rem;
      color: #fff;
      font-size: 1.4rem;
      line-height: 1.2;

      > span { color: var(--subhed, @secondaryColor); }

      b {
        font-size: 2rem;
        display: inline-block;  
        background-color: var(--subhed, @secondaryColor);
        color: #111;
        border-radius: 4px;
        text-align: center;
        width: 50px;
        float: left;
        margin-right: 15px;
        margin-bottom: 10px;
      }

      // .one   { --subhed: @z3a; }
      // .two   { --subhed: lighten(@z5b, 10%); }
      // .three { --subhed: @z9a; }
    }

    hr + h3 {
      margin-top: 0;
    }

    b {
      color: #fff;
    }

    .full-width {
      video {
        @media @mobile {
          object-fit: cover;
          width: 100%;
        }
      }
    }

    .image-container {
      display: grid;
      grid-auto-flow: column;
      justify-items: center;
      align-items: center;
      grid-gap: 8px;
      max-width: 100%;

      img,
      video {
        width: 100%;
        height: auto;
      }

      @media @portrait {
        grid-auto-flow: row;
        grid-template-columns: 1fr !important;
      }
    }
  }

  & + .slide .text {
    margin-top: 60vh;
  }

  .photo-wrapper,
  .video-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .hr-wrapper {
    max-width: 200px; 

    &.hoses-kissing {
      max-width: 300px; 
    }
  }
}

p.centered {
  text-align: center;  
  margin: 0px;
  font-size: 23px;

  .red {
    // text-transform: uppercase;
    // display: block;
    // font-size: xx-large;
    // background-color: #d7191c;
    // background: linear-gradient(45deg, #450d0f, #d7191c);
    // background: -webkit-linear-gradient(45deg, #fdae61, #d7191c,#450d0f);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // text-shadow: 2px 2px #fff;
  }
}