#cooperative-extensions {

  background: #111;
  color: #eee;
  padding: 20vh 0 60vh;
  .serif(); 

  @keyframes post-appear {
    from {
      opacity: 0;
      transform: scale(.8) translateY(20px);
    }
    to {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  .text {
    background: none;
    padding: 20px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  .highlight {
    background: #E4C471; 
    padding-left: 5px; 
    padding-right: 5px; 
  }

  .graphic, .slides-container {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    position: relative; 
    overflow: hidden; 

    &.active {
      height: 400px; 

      .headline-item {
        position: absolute; 
        top: 2000px; 

        &.current {
          top: 20px; 
        }
      }
    }
  }

  .headline-item {
    padding: 10px 10px 15px 10px;
    width: fit-content;
    width: -moz-fit-content;
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
    background: white;
    font-size: 17px;
    border: 2px solid black; 

    @media @mobile {
      max-width: 100%; 
    }

    &:nth-of-type(even) {
      margin-left: 10px; 
    }

    &:nth-of-type(odd) {
      margin-right: 10px; 
    }

    .location {
      color: black; 
      font-weight: bold; 
      margin-bottom: 5px; 
    }

    .headline {
      color: black; 
    }

    .publication {
      font-style: italic;
      font-size: 13px;
      margin-top: 5px;
      color: #777;
    }

    .date {
      .sans-header();
      font-size: 14px;
      color: #777;
    }

    &:after {
      content: ""; 
      display: block; 
      height: 10px; 
      position: absolute; 
      width: 100%; 
      left: 0px;
      bottom: 0px; 
    }
  }

  .headline-item:nth-child(4n), .headline-item:nth-child(4n-1) {
    transform: rotate(-1deg) skew(-1deg);
  }

  .headline-item:nth-child(4n-2), .headline-item:nth-child(4n-3) {
    transform: rotate(1deg) skew(1deg);
  }

  .headline-item:not(:first-child) {
    filter: drop-shadow(0 -2px 1px #ddd); 
  }

  .controls {
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }

  .prev, .next {
    cursor: pointer; 
    width: auto; 
    padding: 5px 10px 5px 10px; 
    color: black; 
    font-weight: bold;
    font-size: 18px; 
    transition: 0.6s ease; 
    border-radius: 5px; 
    user-select: none; 
    background-color: #E4C471; 
    border: 2px solid #E4C471; 
  }

  .next {
    right: 0; 
  }

  .prev:hover, .next:hover {
    opacity: 70%; 
  }

  .dots {
    margin-right: 5px; 
    margin-left: 5px; 
  }

  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

    &.active {
      background-color: #444; 
    }
  }

  .dot:hover {
    background-color: #717171;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
}
