<section class="slide text longAi" id="<%= slide.id %>" data-type="text">
  <% if (slide.text) { %>
    <div class="text">
      <div class="content">
        <%= t.renderMarkdown(slide.text) %>

        <div class="full-width">
          <%= t.include(`./ai2html/_perennials.html`) %>
        </div>

        <%= t.renderMarkdown(slide.text2) %>

        <div class="full-width">
          <%= t.include(`./ai2html/_three-places.html`) %>
        </div>

        <%= t.renderMarkdown(slide.text4) %>
      </div>
    </div>
  <%}%>
</section>