<section class="slide text longAi" id="<%= slide.id %>" data-type="text">
  <% if (slide.text) { %>
    <div class="text">
      <div class="content">
        <%= t.renderMarkdown(slide.text) %>

        <div class="full-width">
          <%= t.include(`./ai2html/_perennials.html`) %>
        </div>

        <%= t.renderMarkdown(slide.text2) %>

        <div class="full-width">
          <%= t.include(`./ai2html/_three-places.html`) %>
        </div>

        <%= t.renderMarkdown(slide.text4) %>
      </div>

      <% if (slide.scrollbug) { %>
        <div class="scroll-bug" aria-hidden="true">
          scroll
          <svg class="drop" viewBox="0 0 50 50" width="50" height="25">
            <path d="M 0,0 L 25,25 50,0"></path>
          </svg>
        </div>
      <% } %>
    
    </div>
  <%}%>
</section>