<section class="map slide align-<%= slide.align || "right" %> <%= slide.classes %>" id="<%= slide.id %>"  
  data-type="map"
  data-mapLayer="<%= slide.mapLayer %>"
  <% if (slide.addPointer) { %> 
  data-addPointer='true'
  <% } %>
  <% if (slide.center) { %>
  data-center="<%= slide.center%>"
  <% } %>
  <% if (slide.zoom) { %>
  data-zoom="<%= slide.zoom%>"
  <% } %>
  >  
  <% if (slide.inset) { %>
  <img class="inset" src="./assets/synced/<%= slide.inset%>" alt="">
  <% } %>
  <%= t.include("partials/_text.html", { slide }) %>
</section>
