<section class="text slide <%= slide.classes %>" id="<%= slide.id %>">
  <% if (slide.image) { %>
  <img
    src="./assets/synced/images/resized/<%= slide.image %>"
    class="backdrop"
    alt=""
    style="<%= t.style({
      "object-fit": slide.contain ? "contain" : false,
      "object-position": slide.anchor
    }) %>"
  >
  <% } %>
  <div class="text">
    <div class="divider"></div>
    <div class="content">
      <%= t.renderMarkdown(slide.text) %>
    </div>
    <% if (slide.caption) { %>
    <div class="caption">
      <%= t.renderMarkdown(slide.caption) %>
    </div>
    <% } %>

    <% if (slide.scrollbug) { %>
    <div class="scroll-bug" aria-hidden="true">
      scroll
      <svg class="drop" viewBox="0 0 50 50" width="50" height="25">
        <path d="M 0,0 L 25,25 50,0"></path>
      </svg>
    </div>
    <% } %>

  </div>
</section>
