<%
  var renderMarkdownText = text => t.renderMarkdown(text).replace(/<\/?p>/g, "");
%>

<section class="<% if (slide.video) { %>video<% } %> <% if (slide.image) { %>image<% } %> splash titlecard slide align-<%= slide.align || "right" %> <%= slide.classes %> <%= slide.constrain %>" id="<%= slide.id %>" data-type="<% if (slide.video) { %>video<% } else { %>image<% } %>">
  <% if (slide.video) { %>
  <video
    id="video-<%= slide.id %>"
    poster="./assets/synced/video/<%=slide.video%>.jpg"
    class="backdrop"
    muted
    loop
    playsinline
    autoplay
    style="<%= t.style({
      "object-position": slide.anchor,
      "object-fit": slide.constrain
    }) %>"></video>
  <% } %>

  <% if (slide.image) { %>
    <img
      class="backdrop"
      data-src="./assets/synced/images/<%= slide.image %>"
      alt=""
      style="<%= t.style({
        "object-position": slide.anchor,
        "object-fit": slide.constrain
      }) %>"
    >
  <% } %>

  <% if (slide.credit) { %>
  <div class="watermark" alt="">
    <%=slide.credit%>
  </div>
  <% } %>

  <div class="darken">

    <img class="title-gif" src="./assets/synced/illo/resized/walker-title.gif" alt="Animation of a cute azalea plant walking in front of the hardiness map">

    <!-- <div class="half-container" style="max-width: 1200px; align-items: start; margin-left: auto; margin-right: auto;">
      <div class="half" style="width: 45%;"> -->
        <div class="chatter" style="text-align: center; margin-top: 0;">
          <img class="logo" src="./assets/logo-outline.svg" alt="NPR" />
          <h1 style="text-align: center; margin-top: 0; font-size: 48px; padding-top: 0;">
            An incredibly detailed look at the USDA&rsquo;s updated gardening&nbsp;map
          </h1>

          <% if (slide.bylines) { %>
          <div class="bylines" style="padding-top: 11px;">
            By Daniel Wood, Connie Hanzhang Jin, Brent Jones and Jeff Brady
          </div>
          <% } %>
        <!-- </div> -->
      <!-- </div> -->

    <div class="scroll-bug" aria-hidden="true">
      scroll
      <svg class="drop" viewBox="0 0 50 50" width="50" height="25">
        <path d="M 0,0 L 25,25 50,0"></path>
      </svg>
    </div>
  

    <!-- <div class="half" style="width: 35%; padding-top: 60px;"> -->
        <div class="chatter-text" style="font-size: 17px; font-family: 'NPRSerif', serif; margin-top: 20vh;">
          <!-- <p>More than half the country shifted half-zones when the USDA updated its key gardening map in 2023. Zoom in on what that means for plants in your area, and how to use it to inform your own planting.</p> -->
          <p>Recently, the USDA updated its plant hardiness map for the first time in 11 years.</p>
          <p>If you’re a gardener – and everybody should be a gardener, even on a balcony or a stoop – this is a big deal! Over half the country moved into a new half-zone.</p>
          <p>The updated map opens up new possibilities for home gardeners, but there are limits. Let’s explore how the map has changed, and what this means for your garden.</p>
        </div>
      </div>

    </div>
  
    <% if (slide.video) { %>
    <div class="a11y-controls">
      <input type="checkbox" checked="checked" id="autoplay-video">
      <label for="autoplay-video">Autoplay video?</label>
    </div>
    <% } %>
  </div>
</section>
<% if (slide.video) { %>
<script type="text/javascript">
  // Load video based on current screen width
  // It won't get reloaded if resized, YOLO
  if (window.innerWidth < 501) {
      document.getElementById("video-<%= slide.id %>").setAttribute('data-src', "./assets/synced/video/resized/mobile-<%= slide.video %>");
    } else {
      document.getElementById("video-<%= slide.id %>").setAttribute('data-src', "./assets/synced/video/resized/<%= slide.video %>");
    }
</script>
  <% } %>