<%
  var renderMarkdownText = text => t.renderMarkdown(text).replace(/<\/?p>/g, "");
%>

<section class="<% if (slide.video) { %>video<% } %> <% if (slide.image) { %>image<% } %> splash titlecard slide align-<%= slide.align || "right" %> <%= slide.classes %> <%= slide.constrain %>" id="<%= slide.id %>" data-type="<% if (slide.video) { %>video<% } else { %>image<% } %>">

  <% if (slide.credit) { %>
  <div class="watermark" alt="">
    <%=slide.credit%>
  </div>
  <% } %>

  <div class="darken">

    <img class="title-gif" data-src="./assets/synced/illo/resized/walker-title.gif" alt="Animation of a cute azalea plant walking in front of the hardiness map">

    <div class="logo">
      <a href="https://www.npr.org">
        <%= t.include("./assets/logo-outline.svg") %>
      </a>
    </div>
    
    <h1><%= renderMarkdownText(slide.headline) %></h1>

    <div class="chatter">

      <% if (slide.bylines) { %>
        <div class="bylines">
          <%= t.renderMarkdown(slide.bylines) %>
        </div>
      <% } %>

      <hr class="shovel" />

      <div class="chatter-text">
        <%= t.renderMarkdown(slide.text) %>
      </div>
    </div>
  
    <div class="scroll-bug" aria-hidden="true">
      scroll
      <svg class="drop" viewBox="0 0 50 50" width="50" height="25">
        <path d="M 0,0 L 25,25 50,0"></path>
      </svg>
    </div>

    <% if (slide.video) { %>
    <div class="a11y-controls">
      <input type="checkbox" checked="checked" id="autoplay-video">
      <label for="autoplay-video">Autoplay video?</label>
    </div>
    <% } %>
  </div>
</section>

<% if (slide.video) { %>
<script type="text/javascript">
// Load video based on current screen width
// It won't get reloaded if resized, YOLO
if (window.innerWidth < 501) {
  document.getElementById("video-<%= slide.id %>").setAttribute('data-src', "./assets/synced/video/resized/mobile-<%= slide.video %>");
} else {
  document.getElementById("video-<%= slide.id %>").setAttribute('data-src', "./assets/synced/video/resized/<%= slide.video %>");
}
</script>
<% } %>