<% var loop = slide.loop || "yes"; %>

<section class="video slide align-<%= slide.align || "right" %> <%= slide.layout %> <%= slide.classes %> <%= slide.constrain %>" id="<%= slide.id %>" data-type="video">
  <div class="video-container">
    <video
      id="video-<%= slide.id %>"
      data-poster="./assets/synced/video/resized/<%= slide.video %>.jpg"
      class="backdrop"
      autoplay
      playsinline
      muted
      <% if (loop == "yes") { %>loop<% } %>
      style="<%= t.style({
        "object-position": slide.anchor,
        "object-fit": slide.constrain
      }) %>"></video>
    </div>
  <div class="watermark" alt="">
    <div class="a11y-controls">
      <input type="checkbox" checked="checked" id="autoplay-video-<%= slide.id %>">
      <label for="autoplay-video-<%= slide.id %>">Autoplay video?</label>
    </div>
    <% if (slide.credit) { %>
      <%=slide.credit%>
    <% } %>
  </div>
  <%= t.include("partials/_text.html", { slide }) %>
</section>
<script type="text/javascript">
  // Load next video based on current screen width
  // It won't get reloaded if resized, YOLO
  if (window.innerWidth < 501) {
    document.getElementById("video-<%= slide.id %>").setAttribute('data-src', "./assets/synced/video/resized/mobile-<%= slide.video %>");
  } else {
    document.getElementById("video-<%= slide.id %>").setAttribute('data-src', "./assets/synced/video/resized/<%= slide.video %>");
  }
</script>