<!doctype html>

<%
var doc = grunt.data.archieml.story;
var renderMarkdownText = text => t.renderMarkdown(text).replace(/<\/?p>/g, "");
grunt.data.json.project = Object.assign({}, grunt.data.json.project, doc.social);
%>

<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel='stylesheet' type="text/css" href='maplibre-gl.css'>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <main class="sequence">
      <div class="pot2">
        <img alt="walking pot" src="./assets/synced/illo/resized/walker.gif">            
      </div>      
      <div
        id="base-map"
        aria-hidden=true
        class="backdrop"
        alt=""
        style="z-index:-1"
      >
      </div>
      <div
        id="base-chart"
        aria-hidden="true"
        class="backdrop"
        alt="chart of yearly minimum temperatures"
        style="z-index:-1"
      >     
        <div id="dot-chart" class="graphic" role="img"></div> 
      </div>      
      <div id="sticky-nav" class="button disabled">
        <div id="main-nav">
          <div class="inner-nav whereTo">
            <div id="explore-map" class="active">
              <%= t.include("./assets/icons/map_24dp_FILL0_wght400_GRAD0_opsz24.svg") %>
              Explore map
            </div>
            <div id="back-to-story" class="">
              <%= t.include("./assets/icons/arrow_circle_left_24dp_FILL0_wght400_GRAD0_opsz24.svg") %>
              Back to the story
            </div>  
          </div>
          <div class="inner-nav dropdown">
            <%= t.include("./assets/icons/move_24dp_FILL0_wght400_GRAD0_opsz24.svg") %>
            Switch location
          </div>          
        </div>
        <div id="layer-button-nav" class="disabled">
          <div class="inner-nav active layer" id="layer-2023">2023 USDA map</div>
          <div class="inner-nav layer" id="layer-2012">2012 USDA map</div>
          <div class="inner-nav layer legend" id="sticky-legend">
            
          </div>
        </div>        
      </div>
      <div id="info">
        <div class="info-inner"></div>
      </div>      
      <style>
        #speed-shit {
          display: none;
          margin: 5px;
          padding: 5px;
          font-family: courier;
          position: fixed; 
          top:0;
          z-index: 10000000;
          background-color: black;

          &.active {
            display: block;
          }
        }
      </style>
      <div id='hidden-button'
        style="
          position: fixed;
          top: 0 ;
          right:0;
          width: 10px;
          height: 10px;
          cursor: pointer;
          z-index: 1000000000;
        "
      ></div>
      <div class="" id="speed-shit"
        style="
                  
          "
      >
        <h3>Initial Load</h3>
          Speed for transfer:<span id="Speedfortransfer"></span>s<br>
          Speed for paint:<span id="Speedforpaint"></span>s<br>
          Total map load:<span id="loadSpeed"></span>s<br>
          Initial tiles transfered:<span id="initTiles"></span><br>
        <h3>Cumulative</h3>
          Total tiles requested:   <span id="Totaltilesrequested"></span><br>
        <h3>current slide ID: <span id='slideID'></span></h3>
        <h3>Layers Loaded</h3>
          <div id="layers-loaded"></div>
      </div>
      <%
        doc.sequence.forEach(function(slide, id) {
          if (slide.type == "skip") return;
          if (slide.type == "titlecard") {
            print(t.include(`_${slide.type || "image"}.html`, { "slide": slide, "id": id }));
          } else {
            print(t.include(`_${slide.type || "image"}.html`, { "slide": slide, "id": id }));
          }
        });
      %>

    </main>

    <%= t.include("partials/_footer.html", { "doc": doc }) %>

    <script>
      // image unloading for lazy-load
      var lazy = Array.prototype.slice.call(document.querySelectorAll(".sequence .slide:nth-child(n + 3) [src]"));
      lazy.forEach(function(img) {
        img.setAttribute("data-src", img.getAttribute("src"));
        img.removeAttribute("src", "");
      });

      // attach analytics to window
      window.PROJECT_ANALYTICS = <%= JSON.stringify(json.project.analytics || {}) %>;
    </script>
    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
