<!doctype html>

<%
var doc = grunt.data.archieml.story;
var renderMarkdownText = text => t.renderMarkdown(text).replace(/<\/?p>/g, "");
grunt.data.json.project = Object.assign({}, grunt.data.json.project, doc.social);
%>

<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel='stylesheet' type="text/css" href='maplibre-gl.css'>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <main class="sequence">
      <div class="pot2">
        <img alt="walking pot" src="./assets/synced/illo/resized/walker.gif">            
      </div>      
      <div
        id="base-map"
        aria-hidden=true
        class="backdrop"
        alt=""
        style="z-index:-1"
      >
      </div>
      <div
        id="base-chart"
        aria-hidden="true"
        class="backdrop"
        alt="chart of yearly minimum temperatures"
        style="z-index:-1"
      >     
        <div id="dot-chart" class="graphic" role="img"></div> 
      </div>      
      <div id="sticky-nav" class="button disabled">
        <div id="main-nav">
          <div class="inner-nav whereTo">
            <div id="explore-map" class="active">
              <%= t.include("./assets/icons/map_24dp_FILL0_wght400_GRAD0_opsz24.svg") %>
              Explore map
            </div>
            <div id="back-to-story" class="">
              <%= t.include("./assets/icons/arrow_circle_left_24dp_FILL0_wght400_GRAD0_opsz24.svg") %>
              Back to the story
            </div>  
          </div>
          <div class="inner-nav dropdown">
            <%= t.include("./assets/icons/move_24dp_FILL0_wght400_GRAD0_opsz24.svg") %>
            Switch location
          </div>          
        </div>
        <div id="layer-button-nav" class="disabled">
          <div class="inner-nav active layer" id="layer-2023">2023 USDA map</div>
          <div class="inner-nav layer" id="layer-2012">2012 USDA map</div>
          <div class="inner-nav layer legend" id="sticky-legend">
            <div class="zone z1a"  id="IDz1a"> 
              <div class="zone-inner">1a</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z1b"  id="IDz1b"> 
              <div class="zone-inner">1b</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z2a"  id="IDz2a"> 
              <div class="zone-inner">2a</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z2b"  id="IDz2b"> 
              <div class="zone-inner">2b</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z3a"  id="IDz3a"> 
              <div class="zone-inner">3a</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z3b"  id="IDz3b"> 
              <div class="zone-inner">3b</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z4a"  id="IDz4a"> 
              <div class="zone-inner">4a</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z4b"  id="IDz4b"> 
              <div class="zone-inner">4b</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z5a"  id="IDz5a"> 
              <div class="zone-inner">5a</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z5b"  id="IDz5b"> 
              <div class="zone-inner">5b</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z6a"  id="IDz6a"> 
              <div class="zone-inner">6a</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z6b"  id="IDz6b"> 
              <div class="zone-inner">6b</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z7a"  id="IDz7a"> 
              <div class="zone-inner">7a</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z7b"  id="IDz7b"> 
              <div class="zone-inner">7b</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z8a"  id="IDz8a"> 
              <div class="zone-inner">8a</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z8b"  id="IDz8b"> 
              <div class="zone-inner">8b</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z9a"  id="IDz9a"> 
              <div class="zone-inner">9a</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z9b"  id="IDz9b"> 
              <div class="zone-inner">9b</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z10a" id="IDz10a">
              <div class="zone-inner">10a</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z10b" id="IDz10b">
              <div class="zone-inner">10b</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z11a" id="IDz11a">
              <div class="zone-inner">11a</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z11b" id="IDz11b">
              <div class="zone-inner">11b</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z12a" id="IDz12a">
              <div class="zone-inner">12a</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z12b" id="IDz12b">
              <div class="zone-inner">12b</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z13a" id="IDz13a">
              <div class="zone-inner">13a</div>
              <div class="zone-after"></div>
            </div>
            <div class="zone z13b" id="IDz13b">
              <div class="zone-inner">13b</div>
              <div class="zone-after"></div>
            </div>
          </div>
        </div>        
      </div>
      <div class="" id="debugger">
        <h3>Initial Load</h3>
          Speed for transfer:<span id="Speedfortransfer"></span>s<br>
          Speed for paint:<span id="Speedforpaint"></span>s<br>
          Total map load:<span id="loadSpeed"></span>s<br>
          Initial tiles transfered:<span id="initTiles"></span><br>
        <h3>Cumulative</h3>
          Total tiles requested:   <span id="Totaltilesrequested"></span><br>
        <h3>current slide ID: <span id='slideID'></span></h3>
        <h3>Layers Loaded</h3>
          <div id="layers-loaded"></div>
      </div>
      <%
        doc.sequence.forEach(function(slide, id) {
          if (slide.type == "skip") return;
          if (slide.type == "titlecard") {
            print(t.include(`_${slide.type || "image"}.html`, { "slide": slide, "id": id }));
          } else {
            print(t.include(`_${slide.type || "image"}.html`, { "slide": slide, "id": id }));
          }
        });
      %>

    </main>

    <%= t.include("partials/_footer.html", { "doc": doc }) %>

    <script>
      // image unloading for lazy-load
      var lazy = Array.prototype.slice.call(document.querySelectorAll(".sequence .slide:nth-child(n + 3) [src]"));
      lazy.forEach(function(img) {
        img.setAttribute("data-src", img.getAttribute("src"));
        img.removeAttribute("src", "");
      });

      // attach analytics to window
      window.PROJECT_ANALYTICS = <%= JSON.stringify(json.project.analytics || {}) %>;
    </script>
    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
