<!doctype html>

<%
var doc = grunt.data.archieml.story;
var renderMarkdownText = text => t.renderMarkdown(text).replace(/<\/?p>/g, "");
grunt.data.json.project = Object.assign({}, grunt.data.json.project, doc.social);
%>

<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel='stylesheet' type="text/css" href='maplibre-gl.css'>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <main class="sequence">
      <div
        id="base-map"
        aria-hidden=true
        class="backdrop"
        alt=""
        style="z-index:-1"
      >
        <div class="pot2">
          <img alt="walking pot" src="./assets/walker.gif">            
        </div>
      </div>
      <div
        id="base-chart"
        aria-hidden="true"
        class="backdrop"
        alt="chart of yearly minimum temperatures"
        style="z-index:-1"
      >     
        <div id="dot-chart" class="graphic" role="img"></div> 
      </div>      
      <div id="sticky-nav" class="button">
        <div class="inner-nav whereTo">
          <div class="active">Explore map</div>
          <div class="">Back to the story</div>  
        </div>
        <div class="inner-nav dropdown">
          Switch location: Raleigh, NC
        </div>
        
      </div>
      <div id="info">
        <div class="info-inner"></div>
      </div>

      <%
        doc.sequence.forEach(function(slide, id) {
          if (slide.type == "skip") return;
          if (slide.type == "titlecard") {
            print(t.include(`_${slide.type || "image"}.html`, { "slide": slide, "id": id }));
          } else {
            print(t.include(`_${slide.type || "image"}.html`, { "slide": slide, "id": id }));
          }
        });
      %>

    </main>

    <%= t.include("partials/_footer.html", { "doc": doc }) %>

    <script>
      // image unloading for lazy-load
      var lazy = Array.prototype.slice.call(document.querySelectorAll(".sequence .slide:nth-child(n + 3) [src]"));
      lazy.forEach(function(img) {
        img.setAttribute("data-src", img.getAttribute("src"));
        img.removeAttribute("src", "");
      });

      // attach analytics to window
      window.PROJECT_ANALYTICS = <%= JSON.stringify(json.project.analytics || {}) %>;
    </script>
    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
